:root {
    /* Colors */
    --header-color:     #C9EBED;
    --bg-color:         #C9EBED;
    --title-color:      #05386b;
}

html body {
    background-color: #C9EBED;
    font-family: "Roboto";
}

.header-sections {
    text-align: right;
}

.about-me-picture {
    margin-top: 4rem;
    border-radius: 50%;
    height: 35vh;
    width: auto;
    background-color: #48A4c8;
}

button.btn-skill.skill-logo {
    background-color: #2A3E4C;   
    border-color:#2A3E4C; 
}

button.btn-skill.skill-name {
    background-color: #48A4c8;
    border-color: #48A4c8; 
}

a.btn-repo {
    background-color: #2A3E4C;   
    border-color:#2A3E4C; 
}

a.btn-repo:hover {
    background-color: #48A4c8;
    border-color: #48A4c8; 
}

a.btn-repo:focus {
    background-color: #48A4c8;
    border-color: #48A4c8; 
}

a.contact-link {
    color:#05386b;
}

h1.section-header {
    font-weight: bold;
}

section#about {
    height:90vh; 
    padding-top:30px;
}

div.projects-container {
    width:75%
}

div.project-card {
    width: 18rem;
}

div.contact-container {
    width: 30%;
}

section#contact {
    padding-top:30px
}

a.navbar-name {
    padding-bottom: 0;
}